body{
    font-family: 'Montserrat';
}
.header{
    width: 1600px;
    height: 810px;
    background: url("/source/img/desktop/header/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.container{
    width: 1303px;
    margin: 0 auto;
}
.header__container--head{
    height: 100px;
    padding: 32px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.header__head--logo{
    width: 78px;
    height: 100px;
    background: url("/source/img/desktop/header/logo.svg");
}
.header__head--navbar{
    margin: auto 0;
}
.header__navbar--ul{
    display: flex;
    gap: 28px;
}
.header__navbar--li{
    position: relative;
}
.header__navbar--link{
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
}
.header__navbar--link:hover:after{
    position: absolute;
    display: block;
    content: "";
    height: 3px;
    margin: 8px 0 0 0;
    width: 100%;
    background-color: #FF8B00;
    transition: 0.5s ease-in-out;
}
.header__container--main{
    display: flex;
    flex: 0 0 50%;
    width: 1079px;
    margin: 129px 0 0 auto;
}
.header__main--content{
    width: 50%;
}
.header__main--slider{
    width: 50%;
    margin: auto 0;
}
.main__content--title{
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
}
.main__content--subtitle{
    margin: 12px 0 0 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
}
.main__content--button{
    margin: 44px 0 0 0;
}
.content__button--btn{
    width: 174px;
    height: 53px;
    background: #FF8B00;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}
.slider{
    overflow: hidden;
    display: flex;
    height: 124px;

}
.slider__item{
    background: url("/source/img/desktop/header/slider.svg");
    height: 124px;
    width: 151px;
}
.slick-list{
    margin: 0 auto;
}
.slick-dots{
    width: 19px;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slick-dots button{
    font-size: 0;
    width: 19px;
    height: 22px;
    border: none;
    background: url("/source/img/desktop/header/dot.svg");
}
.slick-dots li.slick-active button{
    background: url("/source/img/desktop/header/dot-active.svg");
}
.presentation{
    background: transparent;
}
.header__container--more{
    width: 100%;
    margin: 135px 0 0 0;
}
.header__more--title{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}
.header__more--button{
    margin: 19px 0 0 0;
    text-align: center;
}
.more__button--btn{
    width: 62px;
    height: 71px;
    cursor: pointer;
    background: url("/source/img/desktop/header/more.svg");
    border: none;
}
.main__statistics{
    width: 900px;
    margin: 133px auto 0 auto;
    display: flex;
    gap: 92px;
}
.statistics__content--title{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    color: #7050E5;
}
.statistics__content--subtitle{
    margin: 14px 0 0 0;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
    color: #7050E5;
}
.main__what{
    margin: 251px auto 0 auto;
    width: 997px;
}
.main__what--head{
    width: 402px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 auto;
}
.what__head-image{
    width: 46px;
    height: 46px;
    display: flex;
    align-items: flex-start;
    background: url("/source/img/desktop/main/rectangle.svg");
}
.what__head--title{
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    font-size: 50px;
    color: #7050E5;
}
.main__what--content{
    display: flex;
    width: 997px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    margin: 75px 0 0 0;
}
.what__content--item{
    width: 281px;
}
.content__item--img{
    height: 150px;
    text-align: center;
}
.content__item--title{
    margin: 28px 0 0 0;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #7050E5;
}
.content__item--subtitle{
    margin: 8px 0 0 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #878787;
}
.main__video{
    width: 100%;
    margin: 234px 0 97px 0;
    display: flex;
}
.main__video--text{
    width: 579px;
    margin: 95px 0 0 0;
}
.video__text--title{
    font-weight: 700;
    font-size: 40px;
    color: #7050E5;
}
.video__text--subtitle{
    margin: 15px 0 0 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #878787;
}
.video__text--button{
    margin: 38px 0 0 0;
}
.text__button--btn{
    width: 171px;
    height: 44px;
    background: #FF8B00;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}
.main__video--link{
    background: url("/source/img/desktop/main/video.svg");
    width: 724px;
    height: 444px;
    text-align: center;
}
.video__link--button{
    height: 77px;
    width: 77px;
    background: url("/source/img/desktop/main/play.svg");
    margin: 171px auto 0 auto;
}
.video__link--button a{
    display: block;
    position: absolute;
    height: 77px;
    width: 77px;
    color: transparent;
    background: url("/source/img/desktop/main/play.svg");
}
.video__link--suptitle{
    font-family: 'Raleway';
    margin: 23px 0 0 0;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.video__link--title{
    margin: 16px 0 0 0;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main__form{
    width: 100%;
    margin: 0 auto;
    background: url("/source/img/desktop/main/form.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}
.main__form--content{
    display: flex;
    justify-content: space-between;
}
.form__content--text{
    width: 588px;
    font-weight: 600;
    font-size: 55px;
    line-height: 55px;
    color: #FFFFFF;
}
.form__content--data{
    width: 640px;
}
.content__data--title{
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
}
.content__data--form{

}
.data__form--fio{
    display: flex;
    gap: 40px;
}
.form__input{
    margin: 8px 0 0 0;
    background: #FFFFFF;
    border-radius: 8px;
    height: 40px;
    width: 270px;
    padding: 0 15px;
    border: none;
    outline: none;
}
.form__input:focus:after{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}
.form__email{
    width: 610px;
}
.form__label{
    margin: 28px 0 0 0;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.form__textarea{
    padding: 10px 15px;
    height: 103px;
    width: 610px;
}
textarea{
    resize: none;
    padding-top: 10px;
    padding-left: 13px;
}
.form__input::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #3D3D3D;
    opacity: 0.5;
}
.content__data--button{
    margin: 32px 0 0 0;
}
.data__button-btn{
    width: 201px;
    height: 53px;
    background: #FF8B00;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}
.footer{
    margin: 97px 0 0 0;
    background: #363636;
    padding: 50px 0;
}
.footer__content{
    display: flex;
}
.footer__twitter{
    width: 299px;
}
.footer__twitter--head{
    display: flex;
}
.twitter__head--logo{
    width: 59px;
    height: 60px;
    background: #5634D1;
}
.twitter__head--logo img{
    margin: 10px;
}
.twitter__head--content{
    width: 240px;
    background: #7050E5;
}
.head__content--title{
    margin: 11px 0 auto 16px;
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
}
.head__content--subtitle{
    margin: 5px 0 auto 16px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.footer__twitter--content{
    background-color: #FFFFFF;
    padding: 5px 35px 15px 35px;
}
.twitter__content--item{
    margin: 15px 0 0 0;
}
.content__item--text{
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #999999;
}
.content__item--link{
    margin: 5px 0 0 0;
    font-weight: 400;
    font-size: 13px;
    color: #7050E5;
}
.content__item--time{
    margin: 5px 0 0 0;
    font-weight: 400;
    font-size: 11px;
    color: #555555;
}
.footer__navbar{
    margin: 0 0 0 120px;
    display: flex;
    gap: 132px;
}
.footer__navbar--item{
    margin: 11px 0 0 0;
}
.navbar__item--head{
    display: flex;
}
.item__head--dot{
    height: 20px;
    width: 18px;
    background: url("/source/img/desktop/footer/dot.svg");
}
.item__head--title{
    margin: 2px 0 0 8px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FF8B00;
}
.footer__navbar--ul{
    margin: 12px 0 0 0;
}
.footer__navbar--li{
    margin: 8px 0 0 0;
}
.footer__navbar--link{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.copyright{
    width: 100%;
    height: 25px;
    background: #252525;
}
.copyright__text{
    display: flex;
    justify-content: space-between;
    width: 373px;
    height: 25px;
    margin: auto;
}
.copyright__text p{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 10px;
    color: #FFFFFF;
    margin: auto 0 auto 0;
}
.copyright__text img{
    height: 10px;
    width: 9px;
    margin: 6px auto 7px auto;
}





@media screen and (max-width: 390px){
    .header {
        width: 100%;
        height: 789px;
        background: url("/source/img/mobile/header/background.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        background-position: center center;
    }
    .container{
        width: 319px;
        margin: 0 auto;
    }
    .header__container--head{
        height: 50px;
        padding: 28px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    .header__head--logo{
        width: 39px;
        height: 50px;
        background: url("/source/img/mobile/header/logo.svg");
    }
    .header__head--navbar{
        display: none;
    }
    .header__container--main{
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto;
    }
    .header__main--content{
        width: 100%;
    }
    .header__main--slider{
        width: 100%;
        margin: 55px auto 0 auto;
    }
    .slider{
        margin: auto;
        overflow: hidden;
        height: 84px;
        width: 100px;
    }
    .slick-track{
        width: 100px;
    }
    .slider__item{
        background: url("/source/img/mobile/header/slider.svg");
        height: 84px;
        width: 100px;
    }
    .slick-list{
        margin: 0 auto;
    }
    .slick-dots{
        display: none;
    }
    .slick-dots button{
        display: none;
    }
    .main__content--title{
        margin: 65px 0 0 0;
        height: 80px;
        font-size: 32px;
        line-height: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    .main__content--subtitle{
        margin: 16px 0 0 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    .header__container--more{
        margin: 68px 0 0 0;
    }
    .header__more--title{
        font-size: 13px;
    }

    .main{
        width: 100%;
    }
    .main__statistics{
        flex-direction: column;
        width: 100%;
    }
    .main__what{
        margin: 148px 0 0 0;
        width: 100%;
    }
    .what__head--title{
        font-size: 34px;
        margin: 0 auto;
    }
    .main__what--head{
        width: 100%;
    }
    .main__what--content{
        width: 100%;
        gap: 60px;
        flex-direction: column;
    }
    .what__content--item{
        width: 100%;
    }
    .content__item--img{
        width: 100%;
    }
    .content__item--title{
        margin: 28px 0 0 0;
    }
    .content__item--text{
        margin: 16px 0 0 0;
    }
    .main__video{
        margin: 148px 0 0 0;
        flex-direction: column;
    }
    .main__video--text{
        margin: 0 auto;
        width: 100%;
    }
    .video__text--title{
        font-size: 24px;
    }
    .video__text--button{
        text-align: center;
    }
    .main__video--link{
        width: 100%;
        height: 196px;
        margin: 28px 0 0 0;
        background: url("/source/img/mobile/main/video.svg");
    }
    .video__link--button{
        height: 34px;
        width: 34px;
        background: url("/source/img/mobile/main/play.svg");
        margin: 81px auto 0 auto;
    }
    .video__link--button a{
        display: block;
        position: absolute;
        color: transparent;
        height: 34px;
        width: 34px;
        background: url("/source/img/mobile/main/play.svg");
    }
    .video__link--suptitle{
        margin: 15px 0 0 0;
        font-size: 10px;
    }
    .video__link--title{
        margin: 5px 0 0 0;
        font-size: 13px;
    }
    .main__form{
        width: 100%;
        height: 737px;
        background: url("/source/img/mobile/main/form.svg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
        margin: 97px 0 0 0;
    }
    .main__form--content{
        width: 100%;
        flex-direction: column;
    }
    .form__content--text{
        width: 100%;
        font-size: 34px;
        line-height: 40px;
        margin: 40px 0 0 0;
    }
    .form__content--data{
        margin: 48px 0 0 0;
    }
    .content__data--form{
        width: 100%;
    }
    .form__content--data{
        width: 100%;
        height: auto;
    }
    .data__form--fio{
        flex-direction: column;
        gap: 0;
    }
    .form__label{
        margin: 20px 0 0 0;
    }
    .form__email{
        margin: 8px 0 0 0;
        background: #FFFFFF;
        border-radius: 8px;
        height: 40px;
        width: 270px;
        padding: 0 15px;
        border: none;
        outline: none;
    }
    .form__textarea{
        background: #FFFFFF;
        border-radius: 8px;
        width: 270px;
        padding: 10px 15px;
        border: none;
        outline: none;
    }
    textarea{
        resize: none;
    }
    .content__data--button{
        margin: 40px 0 0 0;
        text-align: center;
    }
    .footer{
        width: 100%;
        padding: 60px 0 80px 0;
    }
    .footer__content{
        flex-direction: column;
    }
    .footer__twitter{
        margin: 0 auto;
    }
    .footer__navbar{
        flex-wrap: wrap;
        margin: 60px auto 0 auto;
        gap: 43px;
    }
    .item__head--title{
        margin: 2px auto 0 8px;
    }
    .footer__navbar--ul{
        width: 110px;
        margin: 0 auto;
    }
    .footer__navbar--logo{
        background: url("/source/img/mobile/footer/logo.svg");
        height: 100px;
        width: 88px;
        margin: 80px auto 0 auto;
    }

    .copyright{
        width: 100%;
        height: 95px;
        background: #252525;
        padding: 37px 0;
    }
    .copyright__text{
        display: flex;
        justify-content: space-between;
        width: 299px;
        height: 20px;
    }
    .copyright__text p{
        font-size: 8px;
    }
}





@media screen and (min-width: 391px) and (max-width: 420px){
    .header {
        width: 100%;
        height: 845px;
        background: url("/source/img/mobile/header/background.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        background-position: center center;
    }
    .container{
        width: 319px;
        margin: 0 auto;
    }
    .header__container--head{
        height: 50px;
        padding: 28px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    .header__head--logo{
        width: 39px;
        height: 50px;
        background: url("/source/img/mobile/header/logo.svg");
    }
    .header__head--navbar{
        display: none;
    }
    .header__container--main{
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto;
    }
    .header__main--content{
        width: 100%;
    }
    .header__main--slider{
        width: 100%;
        margin: 65px auto 0 auto;
    }
    .slider{
        margin: auto;
        overflow: hidden;
        height: 84px;
        width: 100px;
    }
    .slick-track{
        width: 100px;
    }
    .slider__item{
        background: url("/source/img/mobile/header/slider.svg");
        height: 84px;
        width: 100px;
    }
    .slick-list{
        margin: 0 auto;
    }
    .slick-dots{
        display: none;
    }
    .slick-dots button{
        display: none;
    }
    .main__content--title{
        margin: 65px 0 0 0;
        height: 80px;
        font-size: 32px;
        line-height: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    .main__content--subtitle{
        margin: 25px 0 0 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    .main__content--button{
        margin: 60px 0 0 0;
    }
    .header__container--more{
        margin: 75px 0 0 0;
    }
    .header__more--title{
        font-size: 13px;
    }

    .main{
        width: 100%;
    }
    .main__statistics{
        flex-direction: column;
        width: 100%;
    }
    .main__what{
        margin: 148px 0 0 0;
        width: 100%;
    }
    .what__head--title{
        font-size: 34px;
        margin: 0 auto;
    }
    .main__what--head{
        width: 100%;
    }
    .main__what--content{
        width: 100%;
        gap: 60px;
        flex-direction: column;
    }
    .what__content--item{
        width: 100%;
    }
    .content__item--img{
        width: 100%;
    }
    .content__item--title{
        margin: 28px 0 0 0;
    }
    .content__item--text{
        margin: 16px 0 0 0;
    }
    .main__video{
        margin: 148px 0 0 0;
        flex-direction: column;
    }
    .main__video--text{
        margin: 0 auto;
        width: 100%;
    }
    .video__text--title{
        font-size: 24px;
    }
    .video__text--button{
        text-align: center;
    }
    .main__video--link{
        width: 100%;
        height: 196px;
        margin: 28px 0 0 0;
        background: url("/source/img/mobile/main/video.svg");
    }
    .video__link--button{
        height: 34px;
        width: 34px;
        background: url("/source/img/mobile/main/play.svg");
        margin: 81px auto 0 auto;
    }
    .video__link--button a{
        display: block;
        position: absolute;
        color: transparent;
        height: 34px;
        width: 34px;
        background: url("/source/img/mobile/main/play.svg");
    }
    .video__link--suptitle{
        margin: 15px 0 0 0;
        font-size: 10px;
    }
    .video__link--title{
        margin: 5px 0 0 0;
        font-size: 13px;
    }
    .main__form{
        width: 100%;
        height: 737px;
        background: url("/source/img/mobile/main/form.svg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
        margin: 97px 0 0 0;
    }
    .main__form--content{
        width: 100%;
        flex-direction: column;
    }
    .form__content--text{
        width: 100%;
        font-size: 34px;
        line-height: 40px;
        margin: 40px 0 0 0;
    }
    .form__content--data{
        margin: 48px 0 0 0;
    }
    .content__data--form{
        width: 100%;
    }
    .form__content--data{
        width: 100%;
        height: auto;
    }
    .data__form--fio{
        flex-direction: column;
        gap: 0;
    }
    .form__label{
        margin: 20px 0 0 0;
    }
    .form__email{
        margin: 8px 0 0 0;
        background: #FFFFFF;
        border-radius: 8px;
        height: 40px;
        width: 270px;
        padding: 0 15px;
        border: none;
        outline: none;
    }
    .form__textarea{
        background: #FFFFFF;
        border-radius: 8px;
        width: 270px;
        padding: 10px 15px;
        border: none;
        outline: none;
    }
    textarea{
        resize: none;
    }
    .content__data--button{
        margin: 40px 0 0 0;
        text-align: center;
    }
    .footer{
        width: 100%;
        padding: 60px 0 80px 0;
    }
    .footer__content{
        flex-direction: column;
    }
    .footer__twitter{
        margin: 0 auto;
    }
    .footer__navbar{
        flex-wrap: wrap;
        margin: 60px auto 0 auto;
        gap: 43px;
    }
    .item__head--title{
        margin: 2px auto 0 8px;
    }
    .footer__navbar--ul{
        width: 110px;
        margin: 0 auto;
    }
    .footer__navbar--logo{
        background: url("/source/img/mobile/footer/logo.svg");
        height: 100px;
        width: 88px;
        margin: 80px auto 0 auto;
    }

    .copyright{
        width: 100%;
        height: 95px;
        background: #252525;
        padding: 37px 0;
    }
    .copyright__text{
        display: flex;
        justify-content: space-between;
        width: 299px;
        height: 20px;
    }
    .copyright__text p{
        font-size: 8px;
    }
}




@media screen and (min-width: 421px) and (max-width: 430px){
    .header {
        width: 100%;
        height: 865px;
        background: url("/source/img/mobile/header/background.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        background-position: center center;
    }
    .container{
        width: 319px;
        margin: 0 auto;
    }
    .header__container--head{
        height: 50px;
        padding: 28px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    .header__head--logo{
        width: 39px;
        height: 50px;
        background: url("/source/img/mobile/header/logo.svg");
    }
    .header__head--navbar{
        display: none;
    }
    .header__container--main{
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto;
    }
    .header__main--content{
        width: 100%;
    }
    .header__main--slider{
        width: 100%;
        margin: 55px auto 0 auto;
    }
    .slider{
        margin: auto;
        overflow: hidden;
        height: 84px;
        width: 100px;
    }
    .slick-track{
        width: 100px;
    }
    .slider__item{
        background: url("/source/img/mobile/header/slider.svg");
        height: 84px;
        width: 100px;
    }
    .slick-list{
        margin: 0 auto;
    }
    .slick-dots{
        display: none;
    }
    .slick-dots button{
        display: none;
    }
    .main__content--title{
        margin: 65px 0 0 0;
        height: 80px;
        font-size: 32px;
        line-height: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    .main__content--subtitle{
        margin: 30px 0 0 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    .main__content--button{
        margin: 65px 0 0 0;
    }
    .header__container--more{
        margin: 75px 0 0 0;
    }
    .header__more--title{
        font-size: 13px;
    }

    .main{
        width: 100%;
    }
    .main__statistics{
        flex-direction: column;
        width: 100%;
    }
    .main__what{
        margin: 148px 0 0 0;
        width: 100%;
    }
    .what__head--title{
        font-size: 34px;
        margin: 0 auto;
    }
    .main__what--head{
        width: 100%;
    }
    .main__what--content{
        width: 100%;
        gap: 60px;
        flex-direction: column;
    }
    .what__content--item{
        width: 100%;
    }
    .content__item--img{
        width: 100%;
    }
    .content__item--title{
        margin: 28px 0 0 0;
    }
    .content__item--text{
        margin: 16px 0 0 0;
    }
    .main__video{
        margin: 148px 0 0 0;
        flex-direction: column;
    }
    .main__video--text{
        margin: 0 auto;
        width: 100%;
    }
    .video__text--title{
        font-size: 24px;
    }
    .video__text--button{
        text-align: center;
    }
    .main__video--link{
        width: 100%;
        height: 196px;
        margin: 28px 0 0 0;
        background: url("/source/img/mobile/main/video.svg");
    }
    .video__link--button{
        height: 34px;
        width: 34px;
        background: url("/source/img/mobile/main/play.svg");
        margin: 81px auto 0 auto;
    }
    .video__link--button a{
        display: block;
        position: absolute;
        color: transparent;
        height: 34px;
        width: 34px;
        background: url("/source/img/mobile/main/play.svg");
    }
    .video__link--suptitle{
        margin: 15px 0 0 0;
        font-size: 10px;
    }
    .video__link--title{
        margin: 5px 0 0 0;
        font-size: 13px;
    }
    .main__form{
        width: 100%;
        height: 737px;
        background: url("/source/img/mobile/main/form.svg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
        margin: 97px 0 0 0;
    }
    .main__form--content{
        width: 100%;
        flex-direction: column;
    }
    .form__content--text{
        width: 100%;
        font-size: 34px;
        line-height: 40px;
        margin: 40px 0 0 0;
    }
    .form__content--data{
        margin: 48px 0 0 0;
    }
    .content__data--form{
        width: 100%;
    }
    .form__content--data{
        width: 100%;
        height: auto;
    }
    .data__form--fio{
        flex-direction: column;
        gap: 0;
    }
    .form__label{
        margin: 20px 0 0 0;
    }
    .form__email{
        margin: 8px 0 0 0;
        background: #FFFFFF;
        border-radius: 8px;
        height: 40px;
        width: 270px;
        padding: 0 15px;
        border: none;
        outline: none;
    }
    .form__textarea{
        background: #FFFFFF;
        border-radius: 8px;
        width: 270px;
        padding: 10px 15px;
        border: none;
        outline: none;
    }
    textarea{
        resize: none;
    }
    .content__data--button{
        margin: 40px 0 0 0;
        text-align: center;
    }
    .footer{
        width: 100%;
        padding: 60px 0 80px 0;
    }
    .footer__content{
        flex-direction: column;
    }
    .footer__twitter{
        margin: 0 auto;
    }
    .footer__navbar{
        flex-wrap: wrap;
        margin: 60px auto 0 auto;
        gap: 43px;
    }
    .item__head--title{
        margin: 2px auto 0 8px;
    }
    .footer__navbar--ul{
        width: 110px;
        margin: 0 auto;
    }
    .footer__navbar--logo{
        background: url("/source/img/mobile/footer/logo.svg");
        height: 100px;
        width: 88px;
        margin: 80px auto 0 auto;
    }

    .copyright{
        width: 100%;
        height: 95px;
        background: #252525;
        padding: 37px 0;
    }
    .copyright__text{
        display: flex;
        justify-content: space-between;
        width: 299px;
        height: 20px;
    }
    .copyright__text p{
        font-size: 8px;
    }
}